.bg3{
  background-image: url(sport-3.jpg);
}
.bg{
  position: relative;
  width: 100%;
  background-attachment: fixed;
  height: 500px;
  background-size: cover;
  background-position: center;
}
.desc{
  position: absolute;
  background-color: white;
  padding: 0.5rem 2.5rem;
  top:50%;
  left: 50%;
  color: black;
  font-size: 3.5rem;
  font-weight: 600;
  transform: translateX(-50%) translateY(-50%);
}

